#navbarNavDropdown {
    margin: auto 0 !important;
}

header {
    padding-top: 20px;
    font-size: medium;
    color: aliceblue;
    background-color: rgb(5, 6, 19);
}

.nav-link, .navbar, .nav-link:focus, .nav-link:hover {
    color: aliceblue;
    --bs-navbar-active-color: aliceblue;
}

.dropdown-menu {
    border-radius: 0;
    background-color: #ff4d4d;
}

.header__video {
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

.header {
    color: white;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    width: 100%;
}

.header__sub-title {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 55px;
    opacity: 70%;
    text-align: center;
}

.header__review-button {
    border-radius: 5px;
    border: 2px solid #ff4d4d;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.06em;
    line-height: 12px;
    margin: 0 auto 55px;
    max-width: 100%;
    padding: 22px 20px;
    text-align: center;
    text-decoration: none;
    transition: background 300ms;
    width: 220px;
}

.header__review-button:hover {
    background: #ff4d4d;
    color: white;
    text-decoration: none;
}

.header__redline {
    border-left: 3px solid #ff4d4d;
    height: 100%;
    min-height: 80px;
    padding: 5px 0 10px 15px;
}

.header__redline__item {
    margin-bottom: 30px;
}

.header__redline__item:first-of-type .header__redline__title {
    font-size: 48px;
    margin-top: -22px;
}

.header__redline__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
}

.header__redline__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    line-height: 1.25;
}

.header__redline a {
    color: #ff4d4d;
}

.header__title {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .header__title {
        text-align: left;
    }

    .header__sub-title {
        font-size: 18px;
        text-align: left;
    }

    .header__redline__item {
        margin-bottom: 96px;
    }

    h1 {
        font-size: 52px;
        font-weight: bold;
        line-height: 60px;
        text-align: left;
    }

    h2 {
        font-size: 42px;
    }

    .header__review-button {
        margin-left: 0;
    }
}
