.reviews__header {
    margin-bottom: 106px;
}

.reviews__content {
    margin-top: 74px;
    margin: auto;
    max-width: 100%;
    position: relative;
    width: 980px;
}

.reviews__content:before,
.reviews__content:after {
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 4px 60px rgba(162, 162, 162, .25);
    content: "";
    left: 64px;
    position: absolute;
    right: 64px;
}

.reviews__content:before {
    border-radius: 5px;
    bottom: 0;
    opacity: .7;
    top: -40px;
}

.reviews__content:after {
    background: #fff;
    border-radius: 5px;
    bottom: 0;
    left: 128px;
    opacity: .34;
    right: 128px;
    top: -72px;
}

 .reviews__slick {
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 4px 60px rgba(162, 162, 162, .25);
    display: flex;
    flex-wrap: wrap;
    padding: 66px 0 66px 68px;
    position: relative;
    z-index: 10;
}

.reviews__slider {
    border-right: 1px solid #cdcdcd;
    float: left;
    padding-right: 60px;
    padding: 14px 60px;
    width: 64%;
}

.reviews__slider-arrow {
    align-items: center;
    display: flex;
    float: left;
    justify-content: center;
    width: 36%;
}

.reviews__slider-arrow-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.slide-num {
    color: #e0e0e0;
    display: inline-block;
    font-size: 28px;
    margin: 0 20px;
    vertical-align: middle;
}

.reviews__item__logo img {
    margin: 0 0 40px;
}

.reviews__item__text {
    color: #050c33;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 28px;
    outline: none;
}

.reviews__item__author {
    color: #838b9c;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
}

.reviews__item__text a,
.reviews__item__author a {
    color: #050c33;
    font-weight: 400;
    outline: none;
}

.slide-num-digit:nth-child(-n+2) {
    color: #050c33;
}

.slick-prev,
.slick-next {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    border: none;
    cursor: pointer;
    display: block !important;
    height: 30px;
    margin: 0 10px;
    outline: none;
    position: static;
    transform: none;
    width: 30px;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus,
.slick-prev:active {
    background-image: url('../images/arrow-left.jpg') !important;
}

.slick-next,
.slick-next:hover,
.slick-next:focus,
.slick-next:active {
    background-image: url('../images/arrow-right.jpg') !important;
}

.slick-prev:before,
.slick-next:before {
    content: none;
}

@media (max-width: 992px) {
    #reviews {
        margin-bottom: 110px;
        padding-top: 35px;
    }

    .reviews__content {
        margin-top: 48px;
    }

    .reviews__content:after {
        left: 68px;
        right: 68px;
        top: -48px;
    }

    .reviews__content:before {
        left: 34px;
        right: 34px;
        top: -25px;
    }

     .reviews__slick {
        display: block;
        padding: 15px;
    }

    .reviews__slider,
    .reviews__slider-arrow {
        border: none;
        display: block;
        float: none;
        padding: 20px 15px;
        width: 100%;
    }

    .reviews__slider-arrow {
        border-top: 1px solid #cdcdcd;
        text-align: center;
    }

    .reviews__slider-arrow-wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .reviews__slider {
        display: flex;
        flex-direction: row;
    }

    .reviews__slider-arrow {
        margin-top: 20px;
        order: 1;
    }

    .slick-prev,
    .slick-next {
        margin: 0 10px;
        position: static;
        transform: none;
    }
}